<%- include('partials/header') -%>

<head>

<style>
  /* media="screen"> */
  #map{
    height: 100%;
    /* width:100%; */
  }
  html, body {
    height: 100%;
    margin: 0;
    padding-bottom: 30px;
  }
</style>

</head>

<body>

<h1>Please stay away from coronavirus...</h1>

<div id="map"></div>

  <script>
  // Initialize and add the map
  function initMap() {

  // map options
    var options = {
      zoom:4,
      center:{lat: 40, lng: -96.887}
    }

  // The map
    var map = new google.maps.Map(
        document.getElementById('map'), options);

    var labels = '1';

// markers divided parts less than 50k
var loc = []
var loc1 = []
loc.push(<%=locations.slice(0,50000)%>)
loc1.push(<%=locations.slice(50000,100000)%>)

 // const n = loc.length
 // const a = Math.floor(n / 50000) //no of groups
 // const b = n % 50000 //remainder

   var markers = loc.map(function(location, i) {
    return new google.maps.Marker({
      position: location,
      label: {
        text: labels[i % labels.length],
        fontSize: "30px"
      }
      });
    });

    var markers = loc1.map(function(location, i) {
     return new google.maps.Marker({
       position: location,
       label: labels[i % labels.length]
       });
     });

// Add a marker clusterer to manage the markers.
   var markerCluster = new MarkerClusterer(map, markers,
       {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
 }

 // locations.push(<%= locations %>)
//     var locations = [
//     {lat: 40, lng: -96.887},
//     {lat: 40, lng: -96.887}
// ]

      </script>

      <!-- Replace following script src -->
      <!-- <script src="/maps/documentation/javascript/examples/markerclusterer/markerclustererplus@4.0.1.min.js"> -->
      <script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js">
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3gCGu6LVjICMz1Fv_f2gXPmqDAsH4ZBQ&callback=initMap">
      </script>
</body>
    <%- include('partials/footer') -%>
