<%- include('partials/header') -%>
<h1>Stay away from coronavirus.</h1>
<p><%=starting%></p>

<% posts.forEach(function(a){ %>
<h1><%=a.title%></h1>
<p>
  <%=a.content.substring(0,100)+"..."%>
<a href="/posts/<%=a.title%>">Read More</a>
</p>
<% }) %>

<%- include('partials/footer') -%>
